---
# basic layout intended for metadata only type item, designed for linking to external source
layout: default
---
{% assign subtopics = site.data.rlg1000-subject-metadata | where: 'parentid', page.objectid %}
{% assign syllabus = site.data.rlg1000-reading-metadata | where_exp: 'r', 'r.subjectid contains page.objectid' %}

<div class="container py-3">

    {% include item/breadcrumbs.html %}
    <div class="my-0 h5 small">TOPIC</div>
    <h2 class="mb-3">{{ page.title }}</h2>

    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            {% if page.description %}<p>{{ page.description }}</p>{% endif %}
            <p><a href="{{ '/browse.html' | relative_url }}#{{ page.objectid }}" class="btn btn-lg btn-outline-primary">Browse Related Readings</a></p>
            <h3 class="">Subtopics:</h3>
            <ul>
                {% for s in subtopics %}
                <li><a href="{{ '/browse.html' | relative_url }}#{{ s.objectid }}">{{ s.title }}</a></li>
                {% endfor %}
            </ul>

        </div>

    </div>

{%- if site.data.theme.browse-buttons == true -%}
{% include item/browse-buttons.html %}
{%- endif -%}
</div>
